
.link{
    display: inline-block;
    padding: 7px;
    font-weight: 500;
    font-size: 18px;
    color: black;
}

.active {
    composes: link;
    color : rgb(118, 171, 252)
}

.navigation{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
text-align: left;
padding-left: 10px;
}